.BuyParkingScreen_container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

.BuyParkingScreen_infoContainer {
  color: white;
  margin: 1rem;
}

.BuyParkingScreen_buyButton {
  align-self: center !important;
  font-size: 1.3rem !important;
  margin: 1rem !important;
  padding: 1.6rem !important;
  width: fit-content !important;
  height: 5vh !important;
  font-weight: bold !important;
  box-shadow: 0 0 10px var(--mui-palette-primary-dark) !important;
  border-radius: .8rem !important;
}

.BuyParkingScreen_divider {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5px;
}

.BuyParkingScreen_divider span {
  width: 95%;
  background-color: var(--mui-palette-secondary-main);
}

.BuyParkingScreen_textContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  color: white;
  overflow: auto;
}

.BuyParkingScreen_textContainer span {
  margin: .8rem 0 0 0;
}

.BuyParkingScreen_textContainer ul {
  padding: 0 1.5rem;
  height: fit-content;
  margin: 0;
}

.BuyParkingScreen_textContainer li {
  margin: 0;
  padding: 0;
}

.BuyParkingScreen_textContainer::-webkit-scrollbar-thumb {
  background-color: var(--mui-palette-primary-main);
  border-radius: 0 1rem 1rem 0;
}