.container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  overflow: auto;
  justify-content: space-between;

  .infoContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    color: white;
    width: 100%;

    .info {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: white;
      margin: 1rem;

      .parkingName {
        font-size: 1.5rem;
        align-self: center;
      }

      .spots {
        display: flex;
        flex-direction: column;
        text-align: right;
        /* font-weight: bold; */
        font-size: 1.4rem;
        /* margin: 0 0; */

        .spotsTotal {
          margin: .1rem 0;
          display: flex;
          justify-content: space-between;

          .label {
            margin: 0 1rem;
            align-self: center;
          }

          .red {
            text-align: center;
            width: 3rem;
            background-color: var(--mui-palette-secondary-main);
            padding: .3rem;
            font-weight: bold;
            border-radius: .5rem;
            box-shadow: 0 0 1rem var(--mui-palette-secondary-dark);
          }
        }

        .spotsOccupied {
          margin: .1rem 0;
          display: flex;
          justify-content: space-between;

          .label {
            margin: 0 1rem;
            align-self: center;
          }

          .red {
            text-align: center;
            width: 3rem;
            background-color: var(--mui-palette-secondary-main);
            padding: .3rem;
            font-weight: bold;
            border-radius: .5rem;
            box-shadow: 0 0 1rem var(--mui-palette-secondary-dark);
          }
        }
      }
    }

    .price {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: white;
      margin: 1rem;

      .pricePeriod {
        align-self: center;
        font-size: 2rem;
      }

      .priceValue {
        font-weight: bold;
        font-size: 1.4rem;
        background-color: var(--mui-palette-primary-main);
        padding: .5rem 1rem;
        border-radius: 1rem;
        box-shadow: 0 0 1rem var(--mui-palette-primary-dark);
      }
    }
  }

  .divider {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1px;
    
    span {
      width: 95%;
      background-color: var(--mui-palette-secondary-main);
    }
  }

  .buyContainer {
    width: 100%;

    .buyButtons {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex: 1 auto;
      margin: 1rem;

      .buyButton {
        margin: 1rem;
        width: 40%;
        background-color: var(--mui-palette-primary-main);
        padding: .5rem 1rem;
        border-radius: 1rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        cursor: pointer;
      }

      .buyButton:hover {
        background-color: var(--mui-palette-primary-dark);
      }
    }
  }

  .scrollSpots {
    display: flex;
    margin: 1rem;
    width: 100%;
    justify-content: space-evenly;

    .spotsList {
      color: white;
      background-color: var(--mui-palette-secondary-light);
      padding: .5rem 1rem;
      width: 55%;
      border-radius: .5rem;
      font-weight: bold;
      text-align: center;
      font-size: 1.3rem;
    }

    .leftArrow {
      background-color: var(--mui-palette-secondary-light);
    }

    .rightArrow {
      background-color: var(--mui-palette-secondary-light);
    }
  }
}