.MainContainer_container {
  position: relative;
  display: grid;
  height: 80vh;
  width: 100vw;
  /* put items in middle-left of body*/
  justify-content: flex-start;
  flex-direction: column;
}

.MainContainer_app {
  top: calc(100vh - 115%);
  /* transform: translate(0, 50%); */
  position: absolute;
  margin-left: 2rem;
  width: 35vw;
  height: 100%;
  display: flex;
  background-color: rgba(30, 30, 30, 0.8);
  border-radius: .5rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.MainContainer_containerFull {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  /* put items in middle-left of body*/
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  
.MainContainer_fullscreen {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 80vw;
  height: 90vh;
  max-height: 90vh;
  background-color: rgba(30, 30, 30, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  border-radius: .8rem;
}

.MainContainer_buyCurrent {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 62vh;
  background-color: rgba(30, 30, 30, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  border-radius: .8rem;
  align-items: center;
}