.VehicleList_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  overflow: auto;
  align-content: flex-start;
}

.VehicleList_vehicleRow {
  display: flex;
  flex-direction: row;
  flex: 0 auto;
  color: white;
  margin: .5rem;
  width: 100%;
  max-height: fit-content;
  height: fit-content;
  border-radius: 1rem;
  background-color: rgba(80, 80, 80, .6);
  transition: background-color 0.1s;
}

.VehicleList_leftAlign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: .5rem 1rem;
  width: 100%;
}

.VehicleList_carName {
  font-size: 1.4rem;
  font-weight: bold;
}

.VehicleList_plate {
  font-size: 1.1rem;
}

.VehicleList_rightAlign {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.VehicleList_infoButton {
  margin: .8rem 1rem .8rem 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--mui-palette-secondary-main);
}

.VehicleList_infoButton svg {
  font-size: 2.2rem;
  color: white;
}

.VehicleList_infoButton:hover {
  background-color: var(--mui-palette-secondary-light);
}

.VehicleList_takeButton {
  margin: .8rem 1rem .8rem 0 !important;
  width: 4rem !important;
  height: 4rem !important;
  border-radius: 50% !important;
  background-color: var(--mui-palette-primary-main) !important;
}

.VehicleList_takeButton img {
  width: 2.2rem;
  height: 2.2rem;
  color: white;
}

.VehicleList_takeButton:hover {
  background-color: var(--mui-palette-primary-light) !important;
}


.VehicleList_levels {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  margin: 0 .4rem 0 .2rem;
  position: relative;
  flex-wrap: nowrap;
}

.VehicleList_impound {
  border-radius: 50%;
  margin: .2rem;
  width: 3rem;
  height: 3rem;
  background-color: var(--mui-palette-secondary-main);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.VehicleList_impoundBar {
  background-color: rgba(255, 0, 0, 0.7);
  z-index: 1;
  width: 100%;
  height: 100%;
  transform: translateY(0%);
  transition: transform 0.5s;
}

.VehicleList_impound svg {
  font-size: 1.5rem;
  color: white;
  z-index: 2;
  position: absolute;
}

.VehicleList_fuelLevel {
  border-radius: 50%;
  margin: .2rem;
  width: 3rem;
  height: 3rem;
  background-color: var(--mui-palette-secondary-main);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.VehicleList_fuelLevelBar {
  background-color: rgba(0, 160, 0, 0.7);
  z-index: 1;
  width: 100%;
  height: 100%;
  transform: translateY(0%);
  transition: transform 0.5s;
  /* mask: linear-gradient(transparent 0%, black); */
}

.VehicleList_fuelLevel svg {
  font-size: 1.5rem;
  color: white;
  z-index: 2;
  position: absolute;
}


.VehicleList_engineLevel {
  border-radius: 50%;
  margin: .2rem;
  width: 3rem;
  height: 3rem;
  background-color: var(--mui-palette-secondary-main);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.VehicleList_engineLevelBar {
  background-color: rgba(255, 255, 80, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
  transform: translateY(0%);
  transition: transform 0.5s;
  /* mask: linear-gradient(transparent 0%, black); */
}

.VehicleList_engineLevel img {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  z-index: 2;
  position: absolute;
}


.VehicleList_bodyLevel {
  border-radius: 50%;
  margin: .2rem;
  width: 3rem;
  height: 3rem;
  background-color: var(--mui-palette-secondary-main);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.VehicleList_bodyLevelBar {
  background-color: rgba(60, 60, 255, 0.6);
  z-index: 1;
  width: 100%;
  height: 100%;
  transform: translateY(0%);
  transition: transform 0.5s;
  /* mask: linear-gradient(transparent 0%, black); */
}

.VehicleList_bodyLevel svg {
  font-size: 1.5rem;
  color: white;
  z-index: 2;
  position: absolute;
}

.VehicleList_vehicleRow:hover {
  background-color: rgba(80, 80, 80, .9);
}


.VehicleList_container::-webkit-scrollbar-track {
  border-radius: 0 1rem 1rem 0;
  background: rgba(200, 200, 200, 0.5);
}

.VehicleList_container::-webkit-scrollbar-thumb {
  border-radius: 0 1rem 1rem 0;
  background: var(--mui-palette-primary-main);
}